.row
      .col-lg-1
        img.img-responsive.user-photo.img-circle(src='img/sea.jpg')
        span
          strong myusername
        span.text-muted 5 hrs
      .col-lg-11
        .panel.panel-default
          .panel-heading
            strong Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          .panel-footer.clearfix
            .pull-left
              a.btn.btn-xs.btn-success.btn-circle.text-uppercase
                span.glyphicon.glyphicon-chevron-up
              
              a.btn.btn-xs.btn-danger.btn-circle.text-uppercase
                span.glyphicon.glyphicon-chevron-down
              span#upvotes 56
          
            .pull-right
              a#reply.btn.btn-xs.btn-info.btn-circle.text-uppercase(href='#')
                span.glyphicon.glyphicon-share-alt
                |  Reply
                          
              a.btn.btn-xs.btn-warning.btn-circle.text-uppercase(href='#replyOne')
                span.glyphicon.glyphicon-comment
                |  2 comments


.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#d3d3d3;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}


.img-circle{
  border-radius: 50%;
    width: 50px;
    height: 50px;
}

.textbox{
  height: 200px;
}

